//Variables goes here

$white: #fff !default;
$gray-100: #f3f6ff !default;
$gray-200: #eff2fc !default;
$gray-300: #e2e5f1 !default;
$gray-400: #d4d7e5 !default;
$gray-500: #b4b7c9 !default;
$gray-600: #9397ad !default;
$gray-700: #585c7b !default;
$gray-800: #3e4265 !default;
$gray-900: #131022 !default;
$black: #000 !default;

//Brand Colors
$primary: #6366f1 !default;
$secondary: $gray-200 !default;
$info: #4c82f7 !default;
$success: #22c55e !default;
$warning: #ffba08 !default;
$danger: #ef4444 !default;
$light: $white !default;
$dark: $gray-900 !default;

$theme-colors:(
    'primary' : $primary,
    'secondary': $secondary,
    'success': $success,
    'info' :$info,
    'warning': $warning,
    'danger' : $danger,
    'light' : $light,
    'dark': $dark
)!default;