body {
  padding-top: 80px;
}
.sun,
.moon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  &::after {
    position: absolute;
    content: '';
    left: auto;
    top: auto;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
.sun::after {
  background-image: url('../public/assets/icons/bx-sun.svg');
}
.moon::after {
  background-image: url('../public/assets/icons/bx-moon.svg');
  margin-left: 4px;
}
